body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3.125em;
}

h2 {
    font-size: 2.1875em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.550em;
}

h5 {
    font-size: 1.470em;
}

h6 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

img {
    max-width: 100%;
}

p {
    font-size: 1.375em;
}

.boton {
    display: inline-block;
    padding: 15px 20px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
}

.boton-negro {
    background-color: black;
}

.boton-naranja {
    background-color: #ba7413;
}

.contenedor {
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
}

/* header */
.header {
    background-image: url('../img/banner.jpg');
    background-position: center center;
    background-size: cover;
    height: auto;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.logo h1 {
    font-weight: 100;
}

.logo h1 span {
    font-weight: 700;
}

.menu {
    margin-top: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    align-items: center;
    height: 30px;
    margin-bottom: 20px;
}

.menu ul li:last-of-type {
    margin-bottom: 0;
}

.menu ul li a {
    height: inherit;
    display: block;
    width: inherit;
}

.content-hero {
    margin-top: 80px;
}

/*Partes principales*/
main {
    display: flex;
    flex-direction: column;
}

/*blog*/
.blog {
    order: 2;
}

.entrada {
    border-bottom: 1px solid black;
    padding: 20px 0 20px;
    line-height: 2;
}

.entrada:last-of-type {
    border-bottom: none;

}

.contenedor-img {
    margin: 0;
}

.titulo-entrada {
    margin: 20px 0;
}

.blog h2 {
    margin: 20px 0;
}

/*Talleres y cursos*/
.sidebar {
    order: 1;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.curso {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.curso:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

.detallesCursos p span {
    font-weight: 400;
}

.detallesCursos p {
    margin: 10px 0 20px 0;
}

/* Footer */
.footer-site {
    background-color: black;
    text-align: center;
    padding: 30px 0;
}

.footer-site .logo h1 {
    color: white;
    font-size: 2.2em;
}

@media (min-width: 769px) {
    .header {
        height: 80vh;
    }


    .menu ul li {
        margin: 0 20px 0 0;
        display: inline-block;
    }

    .menu ul li:last-of-type {
        margin-right: 0;
    }

    .content-hero {
        margin-top: 130px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*Talleres y cursos*/
    main {
        padding: 20px 0;
        flex-direction: row;
        justify-content: space-between;
    }

    .blog {
        order: initial;
        flex: 0 0 calc(66.6% - 20px);
    }

    .sidebar {
        order: initial;
        flex: 0 0 calc(33.3% - 20px);
    }

    .boton {
        width: auto;
    }
}