@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?urc06a');
    src:  url('../fonts/icomoon.eot?urc06a#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?urc06a') format('truetype'),
      url('../fonts/icomoon.woff?urc06a') format('woff'),
      url('../fonts/icomoon.svg?urc06a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }
  
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3.125em;
}

h2 {
    font-size: 2.1875em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.550em;
}

h5 {
    font-size: 1.470em;
}

h6 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
    font-size: 1.375em;
}

.boton {
    display: inline-block;
    padding: 15px 20px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
}

.boton-negro {
    color: white;
    background-color: black;
}

.boton-naranja {
    background-color: #ba7413;
}

.contenedor {
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
}
.contenedor-menu-burguer{
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    height: 40px;
}
.burger-button{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    line-height: 40px;
    color: black;
    
}
.menu{
    height: 0;
    position: relative;
    left: -500px;
    transition: .3s;
}
.menu.menu-visible{
    height: auto;
}
.menu.is-active{
    left: 0;
}

/* header */
.header {
    background-image: url('../img/banner.jpg');
    background-position: center center;
    background-size: cover;
    height: auto;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.logo h1 {
    font-weight: 100;
}

.logo h1 span {
    font-weight: 700;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    align-items: center;
    height: 60px;
}

.menu ul li:last-of-type {
    margin-bottom: 0;
}

.menu ul li a {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.menu ul li a:hover {
    background-color: rgba(0, 0, 0, .5);
    transition: .4s ease-in-out;
}

.content-hero {
    margin-top: 80px;
}

/*Partes principales*/
.main-prinicipal {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

/*blog*/
.blog {
    order: 2;
}

.entrada {
    border-bottom: 1px solid black;
    padding: 20px 0 20px;
    line-height: 2;
}

.entrada:last-of-type {
    border-bottom: none;

}

.contenedor-img {
    margin: 0;
}

.titulo-entrada {
    margin: 20px 0;
}

.blog h2 {
    margin: 20px 0;
}

/*Talleres y cursos*/
.sidebar {
    order: 1;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.curso {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.curso:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

.detallesCursos p span {
    font-weight: 400;
}

.detallesCursos p {
    margin: 10px 0 20px 0;
}

/* Footer */
.footer-site {
    background-color: black;
    text-align: center;
    padding: 30px 0;
}

.footer-site .logo h1 {
    color: white;
    font-size: 2.2em;
}

/* Paginas interiores */
/* nosotros */
.informacion-nosotros {
    line-height: 2;
}

.titulo-nosotros {
    text-align: center;
    padding: 20px 0;
}

/* pagina cursos */
.curso-pagina {
    border-bottom: 1px solid black;
    padding: 20px 0 10px 0;
}

.curso-pagina:last-of-type {
    border-bottom: none;
}

.titulo-cursos {
    padding: 20px 0;
    text-align: center;
}

.informacion-cursos {
    line-height: 2;
}

.curso-pagina .detalles-curso {
    padding: 20px 0;
}

/* pagina interna contacto */
.contenedor-formulario {
    background-color: white;
    padding: 30px;
}

.campo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.campo label {
    flex: 0 0 80px;
}

.campo input {
    padding: 8px 6px;
    flex: 1;
}

.campo textarea {
    flex: 1;
}

.titulo-formulario {
    text-align: center;
}

@media (min-width: 769px) {
    .header {
        height: 600px;
    }
    .icon-menu, .contenedor-menu-burguer{
        display: none;
    }
    .menu {
        left: 0;
        display: block;
        margin: 0;
        height: inherit;
    }

    .menu ul {
        height: inherit;
    }

    .menu ul li {
        height: inherit;
        display: inline-block;
    }

    .menu ul li:last-of-type {
        margin-right: 0;
    }

    .menu ul li a {
        padding: 20px;
        display: flex;
    }

    .content-hero {
        margin-top: 130px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }

    .logo {
        height: inherit;
    }

    .logo h1 {
        height: inherit;
    }

    /*Talleres y cursos*/
    .main-prinicipal {
        margin-top: 0;
        padding: 20px 0;
        flex-direction: row;
        justify-content: space-between;
    }

    .blog {
        order: initial;
        flex: 0 0 calc(66.6% - 20px);
    }

    .sidebar {
        order: initial;
        flex: 0 0 calc(33.3% - 20px);
    }

    .boton {
        width: auto;
    }

    /* pagina interior nosotros */
    .detalles-nosotros {
        display: flex;
        justify-content: space-between;
    }

    .contenedor-img {
        flex: 0 0 calc(50% - 10px);
    }

    .informacion-nosotros {
        flex: 0 0 calc(50% - 10px);
    }

    /* pagina interior cursos */
    .curso-pagina {
        justify-content: space-between;
        display: flex;
    }

    .curso-pagina .contenedor-img {
        flex: 0 0 calc(34% - 20px);
    }

    .curso-pagina .detalles-curso {
        flex: 0 0 calc(66% - 10px);
    }

    /* pagina interna contacto */
    .contacto {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contacto .imagen-contacto {
        flex: 0 0 100%;
    }

    .contenedor-formulario {
        flex: 0 0 calc(66% - 20px);
        margin-top: -100px;
        padding: 60px;
    }

    .enviar {
        display: flex;
        justify-content: flex-end;
    }
}